<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.parti.catan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- SD카드 기록 허용하는 퍼미션 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD카드 읽기 허용하는 퍼미션, 킷캣이후로는 필요없음 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CatanApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LogInActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.activity.EmailLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/LoginTheme"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_email_login" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PostImagesViewActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_post_images_view" />
        <activity
            android:name=".ui.activity.AllCommentsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_all_comments"
            android:theme="@style/AppDialogWhenLarge"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.PostFormActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_post_form"
            android:theme="@style/AppDialogWhenLarge"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.PostActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_post"
            android:theme="@style/AppDialogWhenLarge"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.DisconnectActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_disconnect" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SettingsTheme"
            android:label="@string/title_activity_settings" />

        <receiver
            android:name=".ui.receivers.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.receivers.CancelNotificationReceiver"
            android:label="CancelNotificationReceiver">
        </receiver>
        <service
            android:name=".ui.service.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".ui.service.FirebaseInstanceIDService" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="61fec037830f072a57601a3e9f538a4a0f0d1ac3"
            />
        <meta-data
            android:name="xyz.parti.catan.data.UnsafeOkHttpGlideModule"
            android:value="GlideModule" />
        <meta-data android:name="AA_DB_NAME" android:value="Catan" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="xyz.parti.catan.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>